.dashboardContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; // Помещаем под header
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  padding: 20px;
  margin-top: 60px; // Отступ для header
}